.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #F4F3F3;
  color: black;
  text-align: center;
}
.footer p{
margin-top: 1em;
}
.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 15%;
}
.search{
  margin-top: .5em;
  border-radius: 4px;
    color: #5F6368;
    background-color: #F4F3F3;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    min-width: 54px;
    padding: 5px 16px;
    text-align: center;

}
.input{
  margin-top: .5em;
  width: 45%;
  border: solid 1px black;
  border-radius: 6px;
}
.logo{
  height: 2em;
  width: 3.5em;
}
nav{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #F4F3F3;
}
.trending-menu{
  padding-right: 13em;
}
.fa-home{
  font-size: 1.6em;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .one{
    display:none;
  }
  .login{
    border: 1px solid black;
    border-radius: 6px;
    background-color: white;
  }
  .mainLogo{
    width: 55%;
    margin-top: 30%;
  }

  .input{
    width: 65%;
  }
  .footer p{
    font-size: 12px;
    margin-top: 1em;
  }
}
